# Prerequisites
*.d
*.d
*.dep

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.crf
*.__i


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
GUI
*.elf
*.hex

# Image rpi
*.img

# Fichiers Images
*.jpg
*.jpeg
*.png
*.tiff
*.bmp
*.gif

# Fichiers documentation
*.pdf
*.chm

# Archives
*.zip
*.tar
*.gz
*.bz2
*.xz
*.arc
*.arj
*.7z
*.rar

# Trucs de MDK
*.uvgui*
*.bak
*.axf

# Android
*.apk

/software/raspberry/superviseur-robot/superviseur/dist/
/software/raspberry/testeur/testeur/build/
/software/raspberry/testeur/testeur/dist/
/doc/Doc\ robot/doxygen/
/software/robot/Debug/
/software/robot/Release/
/hardware/meca/Dumber_2022/Pieces/OldVersions/
/hardware/meca/Dumber_2022/OldVersions/
/hardware/meca/Dumber_2022/Pieces/export/
