# Altium specific ignore
Dumber/History/
Dumber/__Previews/
Dumber/Project Logs for Dumber 2015/
Dumber/Project Outputs for Dumber 2015/
Dumber/Project Logs for Dumber/
Dumber/Project Outputs for Dumber/
Dumber-Cap/History/
Dumber-Cap/__Previews/
Dumber-Cap/Project Logs for Dumber_Cap/
Chargeur/History/
Chargeur/__Previews/
Shield-Pi-Xbee/History/
Shield-Pi-Xbee/__Previews/
Shield-Pi-Xbee/Project Logs for Shield_Pi_Xbee/
